.cloud{
    position: absolute;
    width: 550px;
    animation: clouds-animation 10s infinite linear;
}

@keyframes clouds-animation {
    from{
        right: -550px ;
    }
    to{
        right: 100%;
    }


}