.pipe{
    position: absolute;
    bottom: 0;
    width: 70px;
    animation: pipe-animation 1.5s infinite linear;
}
@keyframes pipe-animation {
    from{
        right: -70px;
    }
    to {
        right: 100%;
    }
}